<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: black;}
h1   {color: darkmagenta;}
p1    {color: grey;}
h2   {color: purple;}
p2    {color: limegreen;}
h3   {color: darkred;}
p3    {color: blue;}
</style>
</head>
<body>

<h1>Mistresses of Evil and the Dark</h1>
<p>Ladies of the darkside</p>

</body>
</html>